<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>I plan to take off from <%= @vacation.starting_at %> to <%= @vacation.ending_at %> for <%= @vacation.days %>. </p>
    <br/>
    <p>Thanks,</p><br/>
    <p><%= @user.name %></p>
  </body>
</html>